<div class="row" *ngIf="!country">
  <div class="col-md-12 text-center mt-2">
    <h3>Carregando...</h3>
  </div>
</div>
<div class="row" *ngIf="country">
  <div class="offset-md-4 col-md-4 text-center mt-2">
    <div class="card" >
      <img class="card-img-top" src="{{country.flag.url}}" style="max-height: 150px" alt="Card image cap" >
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">{{country.continent.name}} <small>| continente</small></h6>
        <h5 class="card-title">{{country.name}}</h5>
        <p class="card-text">{{country.capital.name}} <small>| capital</small></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="offset-md-4 col-md-4 text-center mt-2">
    <a [routerLink]="['/countries']" class="btn btn-block btn-primary" >Voltar para lista</a>
  </div>
</div>
